<% if signed_in? %>
    <section>
        <%= render 'shared/signed_in' %>
    </section>
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
        <%= render 'shared/stats' %>
    </section>
    <section>
        <%= render 'shared/micropost_form' %>
    </section>

<%else %>
    <%= render 'shared/sign_up' %>
<% end %>
