<% provide(:title, 'Inbox') %>
<h1>Inbox</h1>
<% for message in @messages %>
    <p id="<%= message.id %>">
        <span class="user">
            From: <%= link_to message.user_name, message.user %>
        </span>
        <span class="content">
            <%= wrap(message.content) %>
        </span>
        <span class="timestamp">
            Sent <%= time_ago_in_words(message.created_at) %>ago.
        </span>
        <%= render 'shared/delete_item', object: message %>   
    </p>
<% end %>
    
