<% provide(:title, "Password reset") %>
<h1>Password reset</h1>

<div class="row">
    <div class="span 6 offset3">
        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

            <% if @user.errors.any? %>
                <div class="alert alert-error">
                    <ul>
                        <% for message in @user.errors.full_messages %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation %>
            <%= f.submit "Update password", class: "btn btn-large btn-primary" %>
        </div>
    </div>
<% end %>
