<h1>Compose</h1>
<%= form_for @message, :url => {:controller=>"messages", :action => "create"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Write." %>
        <%= f.text_field :user_name, class: "menu-autocomplete" %>
        <div id="no-matches"></div>
   </div>

    <%= f.submit "Send", class: "btn btn-large btn-primary" %>

<% end %>
