<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application", "token-input", media: "all" %>
        <%= javascript_include_tag "jquery-1.8.0.min.js", "jquery.tokeninput", "application" %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
        <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel="stylesheet" type="text/css">

    </head>
    <body>
        <%= render 'layouts/header' %>
        <div class="container">
            <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %> 
            <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>
